@font-face {
    font-family: 'netflix-sans-bold';
    src: url("./FNTcllctn/netflix-sans-font/NetflixSans-Bold.otf");
}

@font-face {
    font-family: 'netflix-sans-reg';
    src: url("./FNTcllctn/netflix-sans-font/NetflixSans-Regular.woff2");
}

body {
    margin: 0;
}

.container {
    display: grid;
    height: fit-content;
    width: 100vw;
    margin: 0;

    grid-template-columns: 9% auto auto auto 9%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        ". nav nav nav ."
        ". mid mid mid ."
        "lst lst lst lst lst"
    ;
    /* background-color: green; */
    background-image:url("./imagdlyflow/this-netflix-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
}
.container::after{
    content:"";
    position:absolute;
    inset: 0;
    background:radial-gradient(ellipse at center,rgba(0, 0, 0, 0.39) 0%,rgba(0, 0, 0, 0.644)10% 15%,rgba(0, 0, 0, 0.658) 11% 15%,
        rgba(0, 0, 0, 0.575) 30%,rgb(0, 0, 0)90% 75%);
        z-index: 0;
        filter: brightness(7) contrast(1.8);
}
.container>*{
    z-index:1;
}

.c0-item1 {
    /* background-color:violet; */
    grid-area: nav;


}

.c0-item2 {
    display: grid;
    grid-template-columns: 15vw auto 15vw;
    grid-template-rows: 8vw auto;
    /* background-color:indianred; */
    grid-area: mid;
    height: fit-content;
    padding-bottom: 96px;
    grid-template-areas: ".  .    ."
        ". top ."

    ;

}

.c0-item3 {
    background-color: rgb(0, 27, 66);
    /* display: flex; */
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: center;

    grid-area: lst;
    height: 100px;
    border-radius: 49% 49% 0% 0%;


}

/* ----------------------------------------CONTENT FIRST ROW---------------------------------------------------- */
.mynav {
    display: flex;
    flex-flow: row nowrap;
    height: 99px;
    justify-content: space-between;
    align-items: center;

}

.image {
    height: 40px;
    width: 3.5cm;
    scale: 1.3;
    margin: 15px 0px 0px 20px;

}

/* -------------------------------------------------------------------------------------------------------- */
#lng-icon {
    display: inline-flex;
    outline: 1px gray;
    /* height:38px; */
    background-color: rgb(0, 0, 0);
    outline: 1px solid rgba(156, 150, 150, 0.699);
    padding-left: 5px;
    padding-right: 3px;
    border-radius: 8% 8% 8% 8%;

}

#lng-icon>select {
    height: 32px;
    border: 0;
    padding: 0;
    background-color: black;
    color: white;
}

#lng-icon>select:focus {
    border: 0;
    outline: 0;
}

#translate {
    height: 16px;
    position: relative;
    top: 23%;
}

#signin {
    height: 30px;
    position: relative;
    top: 1.4mm;
    background-color: rgb(229, 9, 20);
    border: 1px solid rgba(122, 119, 119, 0.521);
    border-radius: 8% 8% 8% 8%;
    color: rgba(255, 255, 255, 0.897);
    font-size: medium;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

.trns-btn {
    display: inline-flexbox;
    padding-right: 5px;
}

/* -----------------------------THE SECOND ROW OF GRID ----------------------------------------------------------- */

.gridscndrwG {
    display: grid;
    height: fit-content;
    grid-template-rows: auto auto;
    grid-template-areas: "top1"
        "bottom1";
    grid-area: top;

    /* outline: 2px solid rgb(255, 0, 0); */
}

.gridscndrw1 {
    display: flex;
    flex-direction: column;
    height: fit-content;
    color: white;
    grid-area: top1;
    align-items: center;
    /* outline: 1px solid blue; */

    overflow: hidden;

}

.gridscndrw1>p {
    margin: 0;

}

.scndrwp {
    font-size: 56px;
    font-family: 'netflix-sans-bold';
    text-align: center;
}

.scndrwp2 {
    font-size: 56px;
    font-family: 'netflix-sans-bold';
    margin-bottom: 16px !important;
    text-align: center;


}

.scndrwp3 {
    font-family: 'netflix-sans-bold';
    font-size: 20px;
    padding-bottom: 32px;
    text-align: center;

}

/* --------------------------------------------GRD>GRD SECOND FLEX---------------------------------- */
.gridscndrw2 {
    display: flex;
    flex-direction: column;
    height: fit-content;
    color: white;
    grid-area: bottom1;
    align-items: center;
    /* outline: 1px solid rgb(58, 58, 99); */

}

/* ------------------------------------------EMAIL AND BUTTON SECTION ----------------------------------------------- */
.gridscndrw2f {
    display: flex;
    height: fit-content;
    align-content: center;
}

.gridscndrw2f>h3 {
    font-family: 'netflix-sans-reg';
    font-weight: 500;
    text-align: center;
    margin: 0;

}

.gridscndrw2s {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding-top: 16px;
    padding-bottom: 4px;
}

#myemail {
    background-color: black;
    color: rgba(248, 247, 247, 0.932);
    height: 56px;
    outline: 1px solid rgba(255, 255, 255, 0.795);
    border: 0px;
    width: 319.06px;
    border-radius: 5px;
    outline-offset: -1px;
    padding-left: 14px;
}

#myemail::placeholder {
    color: rgba(240, 240, 240, 0.884);
    /* opacity: 100%; */

    font-family: 'netflix-sans-reg';
    font-size: medium;
    transition: transform 0.3s ease-in-out;

}

#myemail:focus {
    outline: 2px solid white;
    outline-offset: 2.5px;
    background-color: black;


}

#myemail:focus::placeholder {
    transform: translate(-33px, -14px) scale(0.8);

}

#mailbutton {
    font-family: 'netflix-sans-bold';
    font-weight: 500;
    background-color: red;
    color: white;
    height: 56px;
    border: 0px;
    width: 180.94px;
    border-radius: 5px;
    font-size: 17px;

}

#mailbutton::after {
    content: ">";
    padding-left: 18px;
    font-size: 22px;
    font-weight: 40;

}


/* ------------------------------------END SECTION BUTTON AND EMAIL---------------------------------------- */
.item3-end {
    display: flex;
    align-items: center;

    height: 100%;
    width: 100vw;
    /* background-color: rgb(255, 255, 255); */
    position: relative;
    box-sizing: border-box;
      background: radial-gradient(ellipse at 50% 15%,rgba(255, 255, 255, 0.075) 20% 2%,rgb(31, 30, 30) 30% 10%, black 100%);
    border-top: 2px solid red;
    border-radius: 49% 49% 0 0;
}

.item3-end::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: transparent;
    border-top: 3px solid yellow;
    border-image: linear-gradient(to right, transparent 0%, rgba(255, 0, 0, 0.718)10%, rgba(255, 0, 0, 0.904)25%, red 50%,
            rgb(255, 0, 0, 0.904)75%, rgb(255, 0, 0, 0.718)90%, transparent 0%)1;
    box-sizing: border-box;
    pointer-events: none;


}
.trendhead{
    color:white;
    transform: translate(150px,28px);
    font-family:'netflix-sans-reg';
    font-size: 24px;
    font-weight: 600;
}
.the-secondbox{
    height: fit-content;
    width:100vw;
    background-color:black;
    display:grid;
    grid-template-columns:9% auto 9%;
    grid-template-rows:auto auto ;
    grid-template-areas:". thefirst . "
                        ". thesecond ."
                                        ;

}
.gridsec-one{
        display:flex;
        height: fit-content;
        width: 100%;
        flex-flow: row nowrap;
        overflow: auto;
        grid-area: thefirst;
        background-color: transparent;
        /* justify-content: space-around; */
        /* scroll-behavior: smooth; */
        scrollbar-width:thin;
        scrollbar-color: transparent transparent;
        padding-bottom: 80px;
}
.gridsec-one:hover{
    scrollbar-color: rgba(43, 42, 42, 0.397) transparent;
}

.posterno-10{
    width:180px;
    height: 252px;

    background-color:black;
    flex-basis: 1;
    flex-shrink: 0;
    outline:0px solid black;
    padding:8px 22px;
}
.posterno-10 img{
    height: 100%;
    width: 100%;
    outline:1.5px solid rgba(209, 206, 206, 0.555);
    border: 0;
    border-radius: 6px;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.8);
}